# 🧠 Python virtual environment (everyone makes their own)
venv/

# 🔄 Python cache files
__pycache__/
*.pyc

# 🧱 Airflow runtime folders - regenerated automatically
logs/
airflow_home/
*.log

# 🗂️ Local data files (not required to rebuild system)
data/batch_input/
data/stream_landing/

# 💾 IDE and OS clutter
.DS_Store
Thumbs.db

